<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @agencium.Nombre %>
</p>

<p>
  <b>Idempresa:</b>
  <%= @agencium.idEmpresa %>
</p>

<p>
  <b>Codigo:</b>
  <%= @agencium.Codigo %>
</p>


<%= link_to 'Edit', edit_agencium_path(@agencium) %> |
<%= link_to 'Back', agencia_path %>
