<%= form_for(@estado_pedido) do |f| %>
  <% if @estado_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_pedido.errors.count, "error") %> prohibited this estado_pedido from being saved:</h2>

      <ul>
      <% @estado_pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :Nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
