<h1>Editar Proveedor</h1>

<%= form_for (@proveedor) do |f| -%>
	
	  
	<fieldset>
	  <legend><h2>Formulario</h2></legend>
	  <p>
		<%= f.label 'Codigo' %><br />
		<%= f.text_field :Codigo , :autocomplete => :off, :autofocus => true%>
	  </p>
      <p>
	    <%= f.label 'Nombre' %><br />
	    <%= f.text_field :Nombre , :autocomplete => :off%>
	  </p>
	  <p>
	    <%= f.label 'Direccion' %><br />
	    <%= f.text_field :Direccion , :autocomplete => :off%>
	  </p>
	  <p>
	    <%= f.label 'Telefono' %><br />
	    <%= f.text_field :Telefono , :autocomplete => :off%>
	  </p>
	  <p>
		<%= f.label 'Contacto' %><br />
	    <%= f.text_field :Contacto , :autocomplete => :off%>
	  </p>
	  <p>
	    <%= f.label 'Telefono del Contacto' %><br />
	    <%= f.text_field :TelContacto , :autocomplete => :off%>
	  </p>
	  <p>
	    <%= f.label 'Email' %><br />
	    <%= f.text_field :Email , :autocomplete => :off%>
	  </p>
	  <p>
	    <%= f.label 'RUC' %><br />
	    <%= f.text_field :ruc , :autocomplete => :off%>
	  </p>
    </fieldset>
  
  <p><%= f.submit "Actualizar Proveedor" %></p>
<% end %>

<%= link_to 'Volver a ' + @proveedor.Nombre, @proveedor %> |
<%= link_to 'Listado de Proveedores', proveedors_path %>
