<h1>Listado de Proveedores</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Contacto</th>
    <th>Ruc</th>
    <th></th>
    <% if session[:Usuario_idTP] == 1 %>
	 
	 	<th></th> 
	 
	<% end %>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%= link_to proveedor.Codigo, proveedor %></td>
    <td><%= proveedor.Nombre %></td>
    <td><%= proveedor.Contacto %></td>
    <td><%= proveedor.RUC %></td>
    
    <td><%= link_to 'Editar', edit_proveedor_path(proveedor) %></td>
    <% if session[:Usuario_idTP] == 1 %>
	 
	 	<td><%= link_to 'Borrar', proveedor, confirm: 'Esta seguro?', method: :delete %></td>
	 
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Proveedor', new_proveedor_path %>
