<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idUsuario %><br />
    <%= f.number_field :idUsuario %>
  </div>
  <div class="field">
    <%= f.label :Codigo %><br />
    <%= f.text_field :Codigo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
