<h1>Listado de Pedidos</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Usuario</th>
    <th>Fecha Pedido</th>
    <th>Estado</th>
    <th>Total</th>
  </tr>

<% @pedidos.each do |pedido| %>
  <tr>
    <td><%= link_to pedido.Codigo, pedido %></td>
    <td><%= pedido.user.Username %></td>
    <td><%= pedido.FechaEntrega %></td>
    <td><%= pedido.pestado.Nombre %></td>
    <td><%= number_to_currency(pedido.Total, :precision => 2) %></td>
  </tr>
<% end %>
</table>

<br />

<% if session[:Usuario_idTP] == 4 %>
	<%= link_to 'Nuevo Pedido', new_pedido_path %>
<% end %>
