<h1>Nuevo Pedido</h1>



<%= form_for :pedido, :url => pedidos_path do |f| -%>

<p><%= label_tag 'Codigo' %><br/>
<%= f.text_field :Codigo %></p>
<!-- :readonly => true -->
<%= f.hidden_field :FechaPedido, :value => "1/1/2012" %></p>
<%= f.hidden_field :idEstado, :value => 1 %></p>
<%= f.hidden_field :Total, :value => 0 %></p>


<p><%= f.hidden_field :id_usuario, :value => session[:Usuario_id] %> </p>


<p>
	
	<table>
	  <tr>
	  	<th>Categoria</th>
	  	<th>Familia</th>
	  	<th>Producto</th>
	  	<th>Presentacion</th>
	    <th>Codigo</th>
	    <th>Precio</th>
	    <th>Cantidad</th>
	  </tr>
	
	<% @items.each do |item| %>
	  <tr>
	  	<td><%= item.prod.fam.categ.Nombre %></td>
	  	<td><%= item.prod.fam.Nombre %></td>
	    <td><%= item.prod.Nombre %></td>
	    <td><%= item.prod.Presentacion %></td>
	    <td><%= item.prod.Codigo %></td>
	    <td><%= number_to_currency(item.prod.Precio, :precision => 2) %></td>
	    <td><%= text_field_tag "items[#{item.prod.id}]", item.cantidad, :id => "items_#{item.prod.id}", :autocomplete => :off %></td>
	  </tr>
	<% end %>
	</table>
	
</p>
   <% params[:items] = @items %>
<p><%= submit_tag 'Realizar Pedido' %></p>
<% end -%>


<%= link_to 'Listado de Pedidos', pedidos_path %>
