
<% @items = Item.find(:all, :conditions =>  ["pedido_id = ? ", @pedido.id]) %>


<script>
	
$(function(){
	$(".datepicker").datepicker( {dateFormat: 'dd/mm/yy', showOn:'both'} );
	
});

</script>

<h1>Responder a Pedido</h1>

<%= form_for (@pedido) do |f| -%>
      <% @pedido.errors.full_messages.each do |msg| %>
	    <p><%= msg %></p>
	  <% end %>

<p> 
	<%= label_tag 'Codigo: ' %> <%= (@pedido.Codigo).upcase %><br />
	<%= f.hidden_field :Codigo %>
</p>

<fieldset>
		<legend><h2>Productos en Pedido</h2></legend>
		<p>
		  <b>Items:</b>
		  <p>
			<table>
			  <tr>
			    <th>Categoria</th>
			  	<th>Familia</th>
			  	<th>Producto</th>
			  	<th>Presentacion</th>
			    <th>Codigo</th>
			    <th>Precio</th>
			    <th>Cantidad</th>
			    <th>Total</th>
			  </tr>
			
			<% @items.each do |item| %>
			  <% if item.cantidad > 0 %>
				  <tr>
				    <td><%= item.prod.fam.categ.Nombre %></td>
				  	<td><%= item.prod.fam.Nombre %></td>
				    <td><%= item.prod.Nombre %></td>
				    <td><%= item.prod.Presentacion %></td>
				    <td><%= item.prod.Codigo %></td>
				    <td><%= number_to_currency(item.prod.Precio, :precision => 2) %></td>
				    <td><%= item.cantidad %></td>
				    <td><%= number_to_currency(item.cantidad.to_i * item.prod.Precio, :precision => 2) %></td>
				    <% @sumTot = @sumTot + (item.cantidad.to_i * item.prod.Precio) %>
				  </tr>
			  <% end %>
			<% end %>
				  <tr>
				    <td></td>
				  	<td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td>Subtotal</td>
				    <td><%= number_to_currency(@sumTot, :precision => 2) %></td>
				  </tr>
				  <tr>
				    <td></td>
				  	<td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td>Descuento</td>
				    <td><%= number_to_percentage(@pedido.user.Descuento * 100, :precision => 2 ) %></td>
				  </tr>
				  <tr>
				    <td></td>
				  	<td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td>IVA</td>
				    <td><%= number_to_currency(0, :precision => 2) %></td>
				  </tr>
				  <tr>
				    <td></td>
				  	<td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td><b>Total</b></td>
				    <td><%= @pedido.Total %></td>
				  </tr>
			</table>
				
		  </p>
		</p>
</fieldset>

<fieldset>
		<legend><h2>Respuesta</h2></legend>



		<p><%= f.hidden_field :Total%></p>
		<p><%= f.hidden_field :id_usuario %> </p>
		<p><%= f.hidden_field :FechaPedido %></p>
		
		<p>
			<%= f.label 'Estado de Pedido' %><br />
			<%= f.collection_select :idEstado, EstadoPedido.all, :id, :Nombre %>
		</p>
		
		<p>
			<%= label_tag 'Fecha de Entrega' %><br />
			<%= f.text_field  :FechaEntrega,  :class => :datepicker , :value => (@pedido.FechaEntrega.blank? ? (DateTime.now + 2).strftime("%d/%m/%Y") : @pedido.FechaEntrega.strftime('%d/%m/%Y')) %>
		</p>
		
		<p>
		    <%= f.label 'Comentarios' %><br />
		    <%= f.text_area :Comentarios %>
		</p>
		<%= @test1 %><br />
		<%= @test2 %>
</fieldset>

<p><%= submit_tag 'Responder al Pedido' %></p>
<% end %>



<%= link_to 'Volver al Pedido', @pedido %> |
<%= link_to 'Listado de Pedidos', pedidos_path %>