<script>
	
$(function(){
	$(".datepicker").datepicker( {dateFormat: 'dd/mm/yy', showOn:'both'} );
	
});

</script>

<h1>Editar Producto</h1>

<%= form_for (@producto) do |f| -%>
	
	<% @producto.errors.full_messages.each do |msg| %>
	  <p><%= msg %></p>
	<% end %>
	  
	<fieldset>
	  <legend><h2>Formulario</h2></legend>
	  <p>
		<%= label_tag 'Nombre' %><br />
	    <%= f.text_field :Nombre , :autocomplete => :off%>
	  </p>
	  <p>
		<%= f.label 'Codigo' %><br />
		<%= f.text_field :Codigo , :autocomplete => :off%>
	  </p>
      <p>
	    <%= label_tag 'Proveedor' %><br />
	    <%= f.collection_select :idProveedor, Proveedor.all, :id, :Nombre %>
	  </p>
	  <p>
	    <%= label_tag 'Familia' %><br />
	    <%= f.collection_select :idFamilia, Familium.all, :id, :Nombre %>
	  </p>
	  <p>
	    <%= label_tag 'Precio' %><br />
	    <%= f.text_field :Precio , :autocomplete => :off, :value => number_with_precision( @producto.Precio , :precision => 2)%>
	  </p>
	  <p>
	    <%= label_tag 'Estado' %><br />
	    <%= f.check_box :estado%> <%= label_tag 'Activo' %>
	  </p>
	  <p>
	    <%= label_tag 'Presentacion' %><br />
	    <%= f.text_field :Presentacion , :autocomplete => :off%>
	  </p>
	  
	  
	  <p>
		    <%= label_tag 'Fecha de Inicio' %><br />
		    <%= f.text_field  :FechaInicio,  :class => :datepicker , :value => (@producto.FechaInicio.blank? ? DateTime.now.strftime("%d/%m/%Y") : @producto.FechaInicio.strftime('%d/%m/%Y')) %>
	  </p>
 	  <p>
		    <%= label_tag 'Fecha de Caducidad' %><br />
		    <%= f.text_field  :FechaCaducidad,  :class => :datepicker , :value => (@producto.FechaCaducidad.blank? ? (DateTime.now + 14).strftime("%d/%m/%Y") : @producto.FechaCaducidad.strftime('%d/%m/%Y'))%>
	  </p>
    </fieldset>
  
  <p><%= f.submit "Actualizar Producto" %></p>
<% end %>

<%= link_to 'Volver a ' + @producto.Nombre, @producto %> |
<%= link_to 'Listado de Productoss', productos_path %>
