<script>
	
$(function(){
	$(".datepicker").datepicker( {dateFormat: 'dd/mm/yy', showOn:'both'} );
	
});


$(document).ready(function(){
        var search = "#Precio";
        var chars = $(search).attr('placeholder').split('');
        $.each(chars, function(i, v){
          setTimeout(function() {
            $(search).val((chars.slice(0, i+1).join('')));
          }, 100*i);
        });
      });
</script>


<h1>Nuevo Producto</h1>


<% if @numProv != 0 && @numFami != 0 %>
  <%= form_for :producto, :url => productos_path do |f| -%>
      <% @producto.errors.full_messages.each do |msg| %>
	    <p><%= msg %></p>
	  <% end %>
	  <fieldset>
		<legend><h2>Formulario</h2></legend>
		  
		  <p>
			<%= label_tag 'Nombre' %><br />
		    <%= f.text_field :Nombre , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Codigo' %><br />
		    <%= f.text_field :Codigo , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Proveedor' %><br />
		    <%= f.collection_select :idProveedor, Proveedor.all, :id, :Nombre %>
		  </p>
		  <p>
		    <%= label_tag 'Familia' %><br />
		    <%= f.collection_select :idFamilia, Familium.all, :id, :Nombre %>
		  </p>
		  <p>
		    <%= label_tag 'Precio' %><br />
		    <%= f.text_field :Precio , :autocomplete => :off , :placeholder => "0.00"%>
		  </p>
		  <p>
		    <%= label_tag 'Estado' %><br />
		    <%= f.check_box :Estado, {checked: true}%> <%= label_tag 'Activo' %>
		  </p>
		  <p>
		    <%= label_tag 'Presentacion' %><br />
		    <%= f.text_field :Presentacion , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Fecha de Inicio' %><br />
		    <%= f.text_field  :FechaInicio,  :class => :datepicker , :value => DateTime.now.strftime("%d/%m/%Y") %>
		  </p>
		  <p>
		    <%= label_tag 'Fecha de Caducidad' %><br />
		    <%= f.text_field  :FechaCaducidad,  :class => :datepicker , :value => (DateTime.now + 14).strftime("%d/%m/%Y") %>
		  </p>

	  
	  </fieldset>
	  
	  <p><%= submit_tag 'Crear Producto' %></p>
	<% end %>
<% else %>
	Para crear un nuevo producto por favor crear <%= link_to 'familias de producto', familia_path %> y <%= link_to 'proveedores', proveedors_path %> primero.
	<br /><br /><br />
<% end %>	


<%= link_to 'Listado de Productos', productos_path %>
