<script>
	
$(function(){
	$(".datepicker").datepicker( {showOn:'both'}  );
});
</script>


<h1>Nuevo Producto</h1>

<% if @numProv != 0 && @numFami != 0 %>
  <%= form_for :producto, :url => productos_path do |f| -%>
	  <fieldset>
		<legend><h2>Formulario</h2></legend>
		  
		  <p>
			<%= label_tag 'Nombre' %><br />
		    <%= f.text_field :Nombre , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Codigo' %><br />
		    <%= f.text_field :Codigo , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Proveedor' %><br />
		    <%= f.collection_select :idProveedor, Proveedor.all, :id, :Nombre %>
		  </p>
		  <p>
		    <%= label_tag 'Familia' %><br />
		    <%= f.collection_select :idFamilia, Familium.all, :id, :Nombre %>
		  </p>
		  <p>
		    <%= label_tag 'Precio' %><br />
		    <%= f.text_field :Precio , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Estado' %><br />
		    <%= f.check_box :Estado, {checked: true}%> <%= label_tag 'Activo' %>
		  </p>
		  <p>
		    <%= label_tag 'Presentacion' %><br />
		    <%= f.text_field :Presentacion , :autocomplete => :off%>
		  </p>
		  <p>
		    <%= label_tag 'Fecha de Inicio' %><br />
		    <%= f.text_field  :FechaInicio,  :class => :datepicker , :value => DateTime.now.strftime("%d/%m/%Y") %>
		  </p>
		  <p>
		    <%= label_tag 'Fecha de Caducidad' %><br />
		    <%= f.text_field  :FechaCaducidad,  :class => :datepicker , :value => (DateTime.now + 14).strftime("%m/%d/%Y") %>
		  </p>

	  
	  </fieldset>
	  
	  <p><%= submit_tag 'Crear Producto' %></p>
	<% end %>
<% else %>
	Para crear un nuevo producto por favor crear familias de producto y proveedores primero.
<% end %>	


<%= link_to 'Listado de Productos', productos_path %>
