

<h1>Producto: <%= @producto.Nombre %></h1>

<p>
  <b>Nombre:</b>
  <%= @producto.Nombre %>
</p>

<p>
  <b>Codigo:</b>
  <%= @producto.Codigo %>
</p>

<p>
  <b>Familia:</b>
  <%= @producto.fam.Nombre %>
</p>

<p>
  <b>Precio:</b>
  <%= number_to_currency(@producto.Precio , :precision => 2) %>
</p>

<p>
  <b>Estado:</b>
  <% if @producto.estado %>
  	Activo
  <% else %>
  	Desactivado
  <% end %>
</p>

<p>
  <b>Fecha de Inicio:</b>
  <%= @producto.FechaInicio %>
</p>

<p>
  <b>Fecha de Caducidad:</b>
  <%= @producto.FechaCaducidad %>
</p>


<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Listado de Productos', productos_path %>
