<p id="notice"><%= notice %></p>

<h1>Producto: <%= @producto.Nombre %></h1>

<p>
  <b>Nombre:</b>
  <%= @producto.Nombre %>
</p>

<p>
  <b>Empresa:</b>
  <%= @producto.emp.Nombre %>
</p>

<p>
  <b>Codigo:</b>
  <%= @producto.Codigo %>
</p>


<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
