<h1>Cambiar Password</h1>

<%= form_for :Usuario do |form|   %> 
<fieldset>
	<legend>
		Sus Credenciales
	</legend>
<p>

<label> Ingrese su vieja password</label> 
<%= form.password_field :current_password %><p> 

<label> Ingrese su nueva password</label> 
<%= form.password_field :password%><p> 

<label> Confirme su nueva password</label> 
<%= form.password_field :password_confirmation %><p> 
</p>
<p>
		<%= submit_tag "Cambiar Password", :class => "submit" %>
	</p>
</fieldset>
<%end%>

