

<h1>Listado de Usuarios</h1>

<table>
  <tr>
  	<th>Username</th>
  	<th>Nombre Negocio</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo Usuario</th>
    <th></th>
    
    <% if session[:Usuario_idTP] == 1 %>
	 
	 	<th></th> 
	 
	<% end %>
    
    
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
  	<!--
  	<% if usuario.NombreNegocio != nil %>
	 
	 	<td><%= link_to usuario.NombreNegocio, usuario %></td>
	<% else %>
	
	    <td></td>
	
	<% end %>
	-->
  	
  	<td><%= link_to usuario.Username, usuario %></td>
  	<td><%= usuario.NombreNegocio %></td>
    
    <td><%= usuario.Nombre %></td>
    <td><%= usuario.Apellido %></td>
    <td><%= usuario.tipoUser.Nombre %></td>
    <% if session[:Usuario_idTP] == 2 || session[:Usuario_idTP] == 1    %>
    	<% if session[:Usuario_idTP] == 2 && usuario.id == 1 %>
    		<td></td>
    	<% else %>	
    		<td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <% end %>
    <% else %>
    	<td></td>
    <% end %>
    
    <% if session[:Usuario_idTP] == 1  %>
	 	<% if usuario.id != 1 %>
	 		<td><%= button_to  'Borrar', usuario, confirm: 'Esta seguro?', method: :delete %></td>
	 	<% else %>
	 		<td></td>
	 	<% end %>
	 
	<% end %>
    
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Usuario', new_usuario_path %>
