<script>
	


$(document).ready(function(){
        var search = "#Descuento";
        var chars = $(search).attr('placeholder').split('');
        $.each(chars, function(i, v){
          setTimeout(function() {
            $(search).val((chars.slice(0, i+1).join('')));
          }, 100*i);
        });
      });
</script>

<h1>Nuevo Cliente</h1>


<%= form_for :usuario, :url => usuarios_path do |f| -%>
	<% @usuario.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
	  
	  <fieldset>
<legend><h2>Formulario</h2></legend>
  
  <p>
    <%= label_tag 'Username' %><br />
    <%= f.text_field :Username , :autocomplete => :off%>
  </p>
  <p>
  	<%= f.hidden_field :Password, :value => SecureRandom.hex(5) %>
  	<%= f.hidden_field :codigo, :value => '' %>
  	<%= f.hidden_field :createdby, :value => session[:Usuario_id].to_i %>
	
	<%= f.hidden_field :idTipoUsuario, :value => 4 %>
  </p>
  <p>
    <h2>Datos del Cliente<br /></h2>
  </p>
  
  <p>
    <%= label_tag 'Nombre del Negocio' %><br />
    <%= f.text_field :NombreNegocio , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Direccion del Negocio' %><br />
    <%= f.text_field :Direccion , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Referencia' %><br />
    <%= f.text_field :Referencia , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Zona' %><br />
    <%= f.text_field :Zona , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Ciudad' %><br />
    <%= f.collection_select :idCiudad, Ciudad.all, :id, :Nombre %>
  </p>
  <p>
    <%= label_tag 'Telefono' %><br />
    <%= f.text_field :Telefono , :autocomplete => :off%>
  </p>
  <p>
	<%= label_tag 'Nombre del Usuario' %><br />
    <%= f.text_field :Nombre , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Apellido del Usuario' %><br />
    <%= f.text_field :Apellido , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Cedula del Usuario' %><br />
    <%= f.text_field :cedula , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Descuento' %><br />
    <%= f.text_field :Descuento , :autocomplete => :off, :placeholder => "0.00"%>   <!-- 15 <b>%</b>-->
  </p>

  <p>
	<%= label_tag 'Email' %><br />
	<%= f.text_field :Email , :autocomplete => :off%>
  </p>
  <p>
    <%= label_tag 'Observaciones' %><br />
    <%= f.text_area :Observaciones %>
  </p>
  </fieldset>
  
  <p><%= submit_tag 'Crear Usuario' %></p>
	<% end %>

<%= link_to 'Listado de Usuarios', usuarios_path %>
