

<p>
  <b>Username:</b>
  <%= @usuario.Username %>
</p>

<!--
<p>
  <b>Password:</b>
  <%= @usuario.Password %>
</p>
-->

<p>
    <h2>Datos Cliente<br /></h2>
</p>

<p>
    <b>Codigo:</b>
    <%= @usuario.codigo %>
</p>

<% if @usuario.idTipoUsuario == 4 %>
<p>
    <b>Nombre del Negocio:</b>
    <%= @usuario.NombreNegocio %>
</p>

<p>
    <b>Direccion del Negocio:</b>
    <%= @usuario.Direccion %>
</p>

<p>
    <b>Referencia:</b>
    <%= @usuario.Referencia %>
</p>

<p>
    <b>Zona</b>
    <%= @usuario.Zona %>
</p>
<% end %>

<% if @usuario.idTipoUsuario != 1 && @usuario.idTipoUsuario != 2%>
<p>
    <b>Ciudad</b>
    <%= @usuario.ciud.Nombre %>
</p>

<p>
    <b>Provincia</b>
    <%= @usuario.ciud.provincia.Nombre %>
</p>
<% end %>

<p>
    <b>Telefono:</b>
    <%= @usuario.Telefono %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.Nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.Apellido %>
</p>

<p>
  <b>Cedula:</b>
  <%= @usuario.cedula %>
</p>

<% if @usuario.idTipoUsuario == 4 %>
<p>
  <b>Descuento:</b>
  <%= number_with_precision(@usuario.Descuento, :precision => 2) %>
</p>
<% end %>

<p>
  <b>Tipo de Usuario:</b>
  <%= @usuario.tipoUser.Nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.Email %>
</p>

<% if session[:Usuario_idTP] != 4 %>
	<% if @usuario.idTipoUsuario == 4 %>
	<p>
	  <b>Observaciones:</b>
	  <%= @usuario.Observaciones %>
	</p>
	<% end %>
<% end %>

<% if session[:Usuario_idTP] != 4 %>
	<p>
	  <b>Creado Por:</b>
	  <%= @usuario.creator.Nombre %>
	</p>
<% end %>
<!-- 
<p>
	<%= @usuario.id %>
	<%= session[:Usuario_id] %>
	<%= if session[:Usuario_id] == @usuario.id then 'Yes' else 'No' end%>
</p>
-->

<ul id="userlist">
	<% if session[:Usuario_id].to_s == params[:id].to_s %>
		<li><%= link_to 'Cambiar Password', :controller => "usuarios", :action => "cambiar_password" %></li>
	<% end %> 
	
	<% if session[:Usuario_idTP] != 4 %>
		
		<% if session[:Usuario_idTP] == 2 && 1 == params[:id].to_s %>
			<li><%= link_to 'Editar', edit_usuario_path(@usuario) %> </li>
		<% end %>
		<li><%= link_to 'Listado de Usuarios', usuarios_path %></li>
	<% end %>
</ul>
