<!DOCTYPE html>
<html>
<head>
  <title>DisMardisOrdering</title>
  <%= stylesheet_link_tag    "jquery-ui-1.8.18.custom", :media => "all" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  

  <%= javascript_include_tag "jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js" %>
  <%= javascript_include_tag "application.js, jquery-rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="navcontainer">
		<ul id="navlist">
		<% if session[:Usuario_id] == nil%>
		<p>
			<li>
			<%= link_to_unless_current "Log in", :action => "login", :controller => "usuarios"  %>
			</li>
		</p>
		
		<% else %>
		<p>
			<li>
			<%= link_to "Inicio",  :action => "index", :controller => "home"  %>
			</li>
			
			<li> 
		    <%= link_to_unless_current "Productos", :action => "index", :controller => "productos"  %>
		    </li>
		     
		    <li>
		    <%= link_to_unless_current "Pedidos", :action => "index", :controller => "pedidos"  %>
		    </li>
		     
		 <% if session[:Usuario_idTP] == 4  %>
		 	
		 	<li>
		    <%= link_to_unless_current "Mi Usuario", :action => "show", :controller => "usuarios", :id => session[:Usuario_id].to_s  %>
		    </li>
		 	
		 <% end %>
		     
		 <% if session[:Usuario_idTP] == 1  || session[:Usuario_idTP] == 2 %>
		 	
		 	<li>
		    <%= link_to_unless_current "Proveedores", :action => "index", :controller => "proveedors"  %>
		    </li>
		 	
		 	<li>
		 	<%= link_to_unless_current "Usuarios", :action => "index", :controller => "usuarios"  %>
		 	</li>
		     
		    <li>
		    <%= link_to_unless_current "Categorias", :action => "index", :controller => "categoria"  %>
		    </li>
		     
		    <li>
		    <%= link_to_unless_current "Familias", :action => "index", :controller => "familia"  %>
		    </li>
		    
		    <li>
		 	<%= link_to_unless_current "Ciudades", :action => "index", :controller => "ciudads"  %>
		 	</li>
		 
		 <% end %>
		 
		 <% if session[:Usuario_idTP] == 1   %>
		 
		    <li>
		 	<%= link_to_unless_current "Ciudades", :action => "index", :controller => "ciudads"  %>
		 	</li>
		     
		    <li>
		    <%= link_to_unless_current "Provincias", :action => "index", :controller => "provincia"  %>
		    </li>
		    
		    <li>
		    <%= link_to_unless_current "Tipos Estados", :action => "index", :controller => "estado_pedidos"  %>
		    </li>
		     
		 
		 <% end %>
		 
		 <li>
	     <%= link_to_unless_current "Log out", :action => "logout", :controller => "usuarios"  %>
	     </li>
		</p>
		<% end %>
		</ul>
	</div>
	 
	
<p style="color: green"><%= flash[:notice] %></p>




	<% if session[:Usuario_id] == nil && !(request.env['PATH_INFO'].ends_with?('login')) %>
		<h1>Dismardis</h1>
			<br>
			<br>
	
		<% if session[:Usuario_id] == nil %>
		<p>
			Bienvenidos al sitio web de pedidos para Dismardis.  Por favor iniciar la sesion antes de continuar.  
		</p>
		
		<% else %>
		<p>
			Bienvenidos al sitio web de pedidos para Dismardis.  
		</p>
		<% end %>
	
	<% else %>
	

		<%= yield %>


	<% end %>
<!--
<% if ENV["RAILS_ENV"] == "development" %>


<div id="debug">
	
	<fieldset id="session_debug_info" class="debug_info" ><legend>session</legend>
		<%= debug(session)%>
	</fieldset>
</div>

<% end %>
-->

</body>
</html>
